.quotes-section {
  padding-top: 100px;
}

.quotes-slide {
  padding-top: 100px;
  position: relative;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#quotes-slider {

  // Customize the position, size, border color and background color.
  aside[id*="-breadcrumbs"] {
    right: 20px;
    top: -20px;
  }

  aside[id*="-breadcrumbs"] .slidr-breadcrumbs li {
    width: 15px !important;
    height: 15px !important;
    margin: 3px !important;

  }

  aside[id*="-breadcrumbs"] .slidr-breadcrumbs li.normal {
    border-color: $light-blue !important;
    background-color: $dark-blue;
  }

  aside[id*="-breadcrumbs"] .slidr-breadcrumbs li.active {
    background-color: $light-blue !important;
  }

  // Hide all Slidr arrows.
  aside[id*="-control"] .slidr-control:after {
    border-color: transparent !important;
  }

  // Customizing a specific controller arrow.
  aside[id*="-control"] .slidr-control.right {
    width: 25px !important;
    height: 43px !important;
    top: 50% !important;
    margin-top: -25px !important;
    right: -75px !important;
    background-image: url('../../img/icon-arrow-right.svg');
    background-repeat: no-repeat;
    opacity: 0.4;
  }

  // Customizing a specific controller arrow.
  aside[id*="-control"] .slidr-control.left {
    transform: rotate(180deg);
    width: 25px !important;
    height: 43px !important;
    top: 50% !important;
    margin-top: -25px !important;
    left: -75px !important;
    background-image: url('../../img/icon-arrow-right.svg');
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  aside[id*="-control"] .slidr-control:hover {
    opacity: 1;
  }

  aside[id*="-control"] .slidr-control.disabled {
    opacity: 0;
  }

}

.quote-block {
  display: block;
  border: 1px solid $light-blue;
  padding: 70px 50px;

  max-width: 1100px;
  margin: 0 auto;

}

.quote-block__img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translatex(-50%);
  display: none;

  @include mq(620) {
    display: block;
  }

}


.quote-block__quote {
  position: relative;
  font-style: italic;
  font-size: rem-calc(18);
  font-weight: 700;
  text-align: center;
  z-index: 10;
  line-height: 1.4;

  @include mq(600) {
    font-size: rem-calc(20);
  }

  @include mq(800) {
    font-size: rem-calc(30);
  }

  &:before {
    content:'„';
    color: $red;
  }

  &:after {
    content:'“';
    color: $red;
  }

  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted rgba($light-blue,.3);
    cursor: help;
    transition: .5s;

    &:hover {
      border-bottom: 1px dotted rgba($light-blue,1);
    }

  }

}

.quote-block__quote--novod {
  // font-size: ;
  // line-height: 1.6;
}

.quote-block__author {
  display: block;
  position: absolute;
  bottom:-14px;
  left: 50%;
  transform: translatex(-50%);
  padding: 20px;
  background-color: $dark-blue;
  text-align: center;

  .quote-author-name {
    display: block;
    text-transform: uppercase;
    font-size: rem-calc(17);
    font-weight: 700;
    color: $red;
  }
  .quote-author-title {
    display: block;
    font-size: rem-calc(14);
    font-style: italic;
  }


}